In [1]:
import pandas as pd

In [2]:
unt = pd.read_csv("./untangled_county_squares.csv")

In [35]:
def get_min_max(df, center_col_name = "prop_scaled_{}_rank", side_col_name = "sqrt_mult"):
    for si, i in enumerate(["min", "max"]):
        for j in ["lat", "lng"]:
            df[("{}_" + center_col_name).format(i, j)] = (
                df[center_col_name.format(j)] + (2 * si - 1) *
                (df[side_col_name] / 2))
    return df

In [36]:
len(unt)

2300

In [39]:
unt = get_min_max(unt, center_col_name = "new_scaled_{}_rank")

In [40]:
unt.head()

,county_name,lat,lng,state,lng_rank,lat_rank,nyc,min_lng_rank,min_lat_rank,max_lng_rank,...,prop_scaled_lng_rank,min_prop_scaled_lat_rank,min_prop_scaled_lng_rank,max_prop_scaled_lat_rank,max_prop_scaled_lng_rank,norm_sqrt_mult,norm_lat_rank,norm_lng_rank,norm_new_scaled_lat_rank,norm_new_scaled_lng_rank
0,Montgomery,42.920886,-74.476076,NY,54.0,43.0,False,52.0,41.0,57.0,...,12170.383323,12294.518270,12167.771034,12299.742850,12172.995613,0.017524,0.551282,0.683544,0.892370,0.709982
1,Chautauqua,42.162278,-79.666456,NY,3.0,30.0,False,3.0,28.0,8.0,...,13258.873766,12686.932905,13255.680547,12693.319344,13262.066986,0.021420,0.384615,0.037975,0.920889,0.773481
2,Rensselaer,42.862532,-73.661899,NY,62.0,42.0,False,61.0,36.0,65.0,...,13760.562106,12285.298373,13755.715567,12294.991451,13765.408645,0.032511,0.538462,0.784810,0.891863,0.802748
3,St Lawrence,44.379747,-75.392025,NY,45.0,68.0,False,41.0,63.0,53.0,...,12855.698631,11597.786664,12854.080626,11601.022675,12857.316637,0.010854,0.871795,0.569620,0.841738,0.749961
4,Delaware,41.987215,-74.984937,NY,49.0,27.0,False,45.0,25.0,54.0,...,13144.921469,11683.487547,13143.302344,11686.725799,13146.540595,0.010861,0.346154,0.620253,0.847957,0.766834

In [41]:
unt.columns

Index(['county_name', 'lat', 'lng', 'state', 'lng_rank', 'lat_rank', 'nyc',
       'min_lng_rank', 'min_lat_rank', 'max_lng_rank', 'max_lat_rank',
       'num_squares', 'county', 'ttl', 'pre_mult', 'mult', 'sqrt_mult',
       'mid_lng_rank', 'mid_lat_rank', 'scaled_lng_rank', 'scaled_lat_rank',
       'test_lat_rank', 'test_lng_rank', 'new_scaled_lat_rank',
       'new_scaled_lng_rank', 'square_id', 'min_new_scaled_lat_rank',
       'min_new_scaled_lng_rank', 'max_new_scaled_lat_rank',
       'max_new_scaled_lng_rank', 'dummy', 'prop_scaled_lat_rank',
       'prop_scaled_lng_rank', 'min_prop_scaled_lat_rank',
       'min_prop_scaled_lng_rank', 'max_prop_scaled_lat_rank',
       'max_prop_scaled_lng_rank', 'norm_sqrt_mult', 'norm_lat_rank',
       'norm_lng_rank', 'norm_new_scaled_lat_rank',
       'norm_new_scaled_lng_rank'],
      dtype='object')

In [42]:
check_cols = [
    "county",
    "lat_rank",
    "lng_rank",
    "sqrt_mult",
    "min_new_scaled_lat_rank",
    "new_scaled_lat_rank",
    "max_new_scaled_lat_rank",
    "min_new_scaled_lng_rank",
    "new_scaled_lng_rank",
    "max_new_scaled_lng_rank"
]
unt[unt.county == "Kings"][check_cols]

,county,lat_rank,lng_rank,sqrt_mult,min_new_scaled_lat_rank,new_scaled_lat_rank,max_new_scaled_lat_rank,min_new_scaled_lng_rank,new_scaled_lng_rank,max_new_scaled_lng_rank
911,Kings,4.0,59.0,166.988325,5069.936722,5153.430885,5236.925047,16142.426142,16225.920304,16309.414466
1076,Kings,4.0,60.0,166.988325,5051.399651,5134.893813,5218.387976,16333.372497,16416.866660,16500.360822
2149,Kings,5.0,59.0,166.988325,5320.738602,5404.232764,5487.726926,16123.071450,16206.565613,16290.059775
2275,Kings,3.0,59.0,166.988325,6826.433193,6909.927355,6993.421518,15439.638943,15523.133105,15606.627267

In [44]:
def normalize(df, col_names, min_col_name, max_col_name):
    for c in col_names:
        df["norm_" + c] = (df[c] - df[min_col_name].min()) / (df[max_col_name].max() - df[min_col_name].min())
    return df

In [45]:
norm_cols = ([{
    "col_names": ["{}_rank".format(i)],
    "min_col_name": "{}_rank".format(i),
    "max_col_name": "{}_rank".format(i)} for i in ["lat", "lng"]] + 
    [{
    "col_names": ["{}new_scaled_{}_rank".format(j, i) for j in ["", "min_", "max_"]],
    "min_col_name": "min_new_scaled_{}_rank".format(i),
    "max_col_name": "max_new_scaled_{}_rank".format(i)} for i in ["lat", "lng"]])

for i in norm_cols:
    unt = normalize(unt, col_names = i["col_names"], min_col_name = i["min_col_name"], max_col_name = i["max_col_name"])

In [46]:
unt.describe()

,lat,lng,lng_rank,lat_rank,min_lng_rank,min_lat_rank,max_lng_rank,max_lat_rank,num_squares,ttl,...,max_prop_scaled_lng_rank,norm_sqrt_mult,norm_lat_rank,norm_lng_rank,norm_new_scaled_lat_rank,norm_new_scaled_lng_rank,norm_min_new_scaled_lat_rank,norm_max_new_scaled_lat_rank,norm_min_new_scaled_lng_rank,norm_max_new_scaled_lng_rank
count,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,...,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000
mean,42.942782,-75.512382,43.817391,43.375217,40.633043,38.825652,46.876522,48.135217,53.366087,10308.629565,...,12996.850045,0.027197,0.544411,0.537071,0.862280,0.368347,0.861884,0.862677,0.367739,0.368955
std,0.964906,1.668885,16.398253,16.535267,16.116425,15.307051,16.629773,17.304691,29.558310,23464.913487,...,485.082464,0.044964,0.217569,0.215766,0.071918,0.104166,0.072305,0.071534,0.103903,0.104438
min,40.528354,-79.666456,3.000000,2.000000,3.000000,2.000000,8.000000,3.000000,1.000000,231.000000,...,12119.402264,0.003354,0.000000,0.000000,0.013330,0.001763,0.000000,0.019077,0.000000,0.002625
25%,42.278987,-76.613291,33.000000,32.000000,32.000000,28.000000,36.000000,36.000000,31.000000,1668.000000,...,12591.360937,0.010854,0.394737,0.394737,0.823327,0.304198,0.823034,0.823802,0.303790,0.304672
50%,42.862532,-75.086709,48.000000,42.000000,41.000000,38.000000,52.000000,46.000000,48.000000,2740.000000,...,13006.239823,0.016094,0.526316,0.592105,0.870834,0.370328,0.870438,0.871098,0.369898,0.370630
75%,43.621139,-74.170759,57.000000,55.000000,52.000000,49.000000,59.000000,62.000000,68.000000,7247.000000,...,13369.958925,0.026674,0.697368,0.710526,0.911371,0.439177,0.911049,0.911746,0.438772,0.439474
max,44.963291,-71.931772,79.000000,78.000000,64.000000,69.000000,79.000000,78.000000,138.000000,296159.000000,...,16211.666143,1.000000,1.000000,1.000000,0.999661,0.991192,0.999357,1.000000,0.982385,1.000000

In [47]:
counties = unt[["county"]].drop_duplicates().reset_index()
counties["county_id"] = counties.index

In [48]:
unt_w_county_id = unt.merge(right = counties[["county", "county_id"]], on = ["county"], how = "left")

In [52]:
norm_col_names = ["norm_" + i for j in [i["col_names"] for i in norm_cols] for i in j]

In [29]:
unt_w_county_id[["square_id", "county", "county_id"] + norm_col_names].to_json(
    "./untangled_norm_county_squares.json", orient = "records")

In [31]:
["square_id", "county", "county_id"] + ["norm_" + i for i in norm_cols]

['square_id',
 'county',
 'county_id',
 'norm_sqrt_mult',
 'norm_lat_rank',
 'norm_lng_rank',
 'norm_new_scaled_lat_rank',
 'norm_new_scaled_lng_rank']