In [1]:
import pandas as pd

In [2]:
unt = pd.read_csv("./untangled_county_squares.csv")

In [3]:
def get_min_max(df, center_col_name = "prop_scaled_{}_rank", side_col_name = "sqrt_mult"):
    for si, i in enumerate(["min", "max"]):
        for j in ["lat", "lng"]:
            df[("{}_" + center_col_name).format(i, j)] = (
                df[center_col_name.format(j)] + (2 * si - 1) *
                (df[side_col_name] / 2))
    return df

In [4]:
len(unt)

2300

In [39]:
unt = get_min_max(unt, center_col_name = "new_scaled_{}_rank")

In [5]:
unt.head()

,county_name,lat,lng,state,lng_rank,lat_rank,nyc,min_lng_rank,min_lat_rank,max_lng_rank,...,min_new_scaled_lng_rank,max_new_scaled_lat_rank,max_new_scaled_lng_rank,dummy,prop_scaled_lat_rank,prop_scaled_lng_rank,min_prop_scaled_lat_rank,min_prop_scaled_lng_rank,max_prop_scaled_lat_rank,max_prop_scaled_lng_rank
0,Montgomery,42.920886,-74.476076,NY,54.0,43.0,False,52.0,41.0,57.0,...,16097.304790,12822.916631,16102.529369,1,12297.130560,12170.383323,12294.518270,12167.771034,12299.742850,12172.995613
1,Chautauqua,42.162278,-79.666456,NY,3.0,30.0,False,3.0,28.0,8.0,...,891.246618,8947.591597,897.633057,1,12690.126125,13258.873766,12686.932905,13255.680547,12693.319344,13262.066986
2,Rensselaer,42.862532,-73.661899,NY,62.0,42.0,False,61.0,36.0,65.0,...,18480.243441,12527.004268,18489.936519,1,12290.144912,13760.562106,12285.298373,13755.715567,12294.991451,13765.408645
3,St Lawrence,44.379747,-75.392025,NY,45.0,68.0,False,41.0,63.0,53.0,...,13414.979561,20275.587661,13418.215572,1,11599.404670,12855.698631,11597.786664,12854.080626,11601.022675,12857.316637
4,Delaware,41.987215,-74.984937,NY,49.0,27.0,False,45.0,25.0,54.0,...,14607.564891,8051.577665,14610.803142,1,11685.106673,13144.921469,11683.487547,13143.302344,11686.725799,13146.540595

In [6]:
unt.columns

Index(['county_name', 'lat', 'lng', 'state', 'lng_rank', 'lat_rank', 'nyc',
       'min_lng_rank', 'min_lat_rank', 'max_lng_rank', 'max_lat_rank',
       'num_squares', 'county', 'ttl', 'pre_mult', 'mult', 'sqrt_mult',
       'mid_lng_rank', 'mid_lat_rank', 'scaled_lng_rank', 'scaled_lat_rank',
       'test_lat_rank', 'test_lng_rank', 'new_scaled_lat_rank',
       'new_scaled_lng_rank', 'square_id', 'min_new_scaled_lat_rank',
       'min_new_scaled_lng_rank', 'max_new_scaled_lat_rank',
       'max_new_scaled_lng_rank', 'dummy', 'prop_scaled_lat_rank',
       'prop_scaled_lng_rank', 'min_prop_scaled_lat_rank',
       'min_prop_scaled_lng_rank', 'max_prop_scaled_lat_rank',
       'max_prop_scaled_lng_rank'],
      dtype='object')

In [16]:
check_cols = [
    "county",
    "lat_rank",
    "lng_rank",
    "sqrt_mult",
    "min_new_scaled_lat_rank",
    "new_scaled_lat_rank",
    "max_new_scaled_lat_rank",
    "min_new_scaled_lng_rank",
    "new_scaled_lng_rank",
    "max_new_scaled_lng_rank"
]
unt[unt.county == "Kings"][check_cols]

,county,lat_rank,lng_rank,sqrt_mult,min_new_scaled_lat_rank,new_scaled_lat_rank,max_new_scaled_lat_rank,min_new_scaled_lng_rank,new_scaled_lng_rank,max_new_scaled_lng_rank
911,Kings,4.0,59.0,166.988325,1109.092288,5153.430885,1276.080613,17507.155980,16225.920304,17674.144305
1076,Kings,4.0,60.0,166.988325,1109.092288,5134.893813,1276.080613,17805.302593,16416.866660,17972.290918
2149,Kings,5.0,59.0,166.988325,1407.238900,5404.232764,1574.227225,17507.155980,16206.565613,17674.144305
2275,Kings,3.0,59.0,166.988325,810.945675,6909.927355,977.934000,17507.155980,15523.133105,17674.144305

In [8]:
def normalize(df, col_names, min_col_name, max_col_name):
    for c in col_names:
        df["norm_" + c] = (df[c] - df[min_col_name].min()) / (df[max_col_name].max() - df[min_col_name].min())
    return df

In [9]:
norm_cols = ([{
    "col_names": ["{}_rank".format(i)],
    "min_col_name": "{}_rank".format(i),
    "max_col_name": "{}_rank".format(i)} for i in ["lat", "lng"]] + 
    [{
    "col_names": ["{}new_scaled_{}_rank".format(j, i) for j in ["", "min_", "max_"]],
    "min_col_name": "min_new_scaled_{}_rank".format(i),
    "max_col_name": "max_new_scaled_{}_rank".format(i)} for i in ["lat", "lng"]])

for i in norm_cols:
    unt = normalize(unt, col_names = i["col_names"], min_col_name = i["min_col_name"], max_col_name = i["max_col_name"])

In [10]:
unt.describe()

,lat,lng,lng_rank,lat_rank,min_lng_rank,min_lat_rank,max_lng_rank,max_lat_rank,num_squares,ttl,...,max_prop_scaled_lat_rank,max_prop_scaled_lng_rank,norm_lat_rank,norm_lng_rank,norm_new_scaled_lat_rank,norm_min_new_scaled_lat_rank,norm_max_new_scaled_lat_rank,norm_new_scaled_lng_rank,norm_min_new_scaled_lng_rank,norm_max_new_scaled_lng_rank
count,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,...,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000,2300.000000
mean,42.942782,-75.512382,43.817391,43.375217,40.633043,38.825652,46.876522,48.135217,53.366087,10308.629565,...,12380.276190,12996.850045,0.544411,0.537071,0.520469,0.544752,0.545110,0.533627,0.536689,0.537047
std,0.964906,1.668885,16.398253,16.535267,16.116425,15.307051,16.629773,17.304691,29.558310,23464.913487,...,565.832029,485.082464,0.217569,0.215766,0.032373,0.217398,0.217154,0.030620,0.215601,0.215656
min,40.528354,-79.666456,3.000000,2.000000,3.000000,2.000000,8.000000,3.000000,1.000000,231.000000,...,5835.301462,12119.402264,0.000000,0.000000,0.138319,0.000000,0.002511,0.425867,0.000000,0.000282
25%,42.278987,-76.613291,33.000000,32.000000,32.000000,28.000000,36.000000,36.000000,31.000000,1668.000000,...,11987.923564,12591.360937,0.394737,0.394737,0.502934,0.395377,0.395568,0.514770,0.394493,0.394791
50%,42.862532,-75.086709,48.000000,42.000000,41.000000,38.000000,52.000000,46.000000,48.000000,2740.000000,...,12404.712762,13006.239823,0.526316,0.592105,0.524319,0.526745,0.527074,0.534209,0.591796,0.591930
75%,43.621139,-74.170759,57.000000,55.000000,52.000000,49.000000,59.000000,62.000000,68.000000,7247.000000,...,12801.361275,13369.958925,0.697368,0.710526,0.542567,0.697581,0.697704,0.554448,0.710112,0.710321
max,44.963291,-71.931772,79.000000,78.000000,64.000000,69.000000,79.000000,78.000000,138.000000,296159.000000,...,13257.626308,16211.666143,1.000000,1.000000,0.582310,0.999841,1.000000,0.716716,0.999002,1.000000

In [11]:
counties = unt[["county"]].drop_duplicates().reset_index()
counties["county_id"] = counties.index

In [12]:
unt_w_county_id = unt.merge(right = counties[["county", "county_id"]], on = ["county"], how = "left")

In [13]:
norm_col_names = ["norm_" + i for j in [i["col_names"] for i in norm_cols] for i in j]

In [14]:
unt_w_county_id[["square_id", "county", "county_id"] + norm_col_names].to_json(
    "./untangled_norm_county_squares.json", orient = "records")

In [15]:
["square_id", "county", "county_id"] + norm_col_names

['square_id',
 'county',
 'county_id',
 'norm_lat_rank',
 'norm_lng_rank',
 'norm_new_scaled_lat_rank',
 'norm_min_new_scaled_lat_rank',
 'norm_max_new_scaled_lat_rank',
 'norm_new_scaled_lng_rank',
 'norm_min_new_scaled_lng_rank',
 'norm_max_new_scaled_lng_rank']